*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0 auto;
}


main {
    min-height: 100%;
}

main::after {
    content: "";
    display: block;
    
}


/* HEADER */

/* NAVIGATION */

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 17, 17);
}

#logo {
    display: none;
}

#logomenu, #usercart {
    display: flex;
    justify-content: space-around;
    margin: 3vw;
    color: rgba(245, 245, 245, 0.733);
}

#logomenu, #usercart :hover {
    color: white;
}


/* i = svg */
#usercart svg {
    margin: 0 5vw;
}

#menu {
    display: none;
    background-color: rgba(17, 17, 17, 0.822);
    color: white;
    width: 30vw;
    padding: 2vh 0;
    border-radius: 0 0 2vw 0;
    font-size: smaller;
    position: absolute;
    z-index: 1;
    text-align: center;
}

#menu a {
    color: white;
    text-decoration-line: none;
}

#menu ul { 
    padding: 0 5vw;
}

#menu a:hover{
    color: lightblue;
}

#menu li{
    list-style: none;
    margin: 1vh 0;
}


#menu hr {
    width: 18vw;
    text-align: center;
}

.sous-menu {
    display: none;
    width: 30vw;
    font-size: smaller;
    position: relative;
    left: -14px;
}

/* NAV CONNEXION */
#info-log {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 1;
    /* right: 70px; */
    background-color: rgba(17, 17, 17, 0.822);
    padding: 4vw;
    border-radius: 0 0 5vw 5vw;
}


/* HOME */

/* SEARCH BAR */

.search-form form {
    display: flex;
    justify-content: center;
    position: relative;
    top: -14px;
    align-items: center;

}

.search-form input {
    border-radius: 2vw;
    padding: 1vw;
    box-shadow: 1px 1px 1px grey;
}

.search-form button {
    border-radius: 3vw;
    background-color: rgb(45, 45, 250);
    color: rgba(255, 255, 255, 0.712);
    padding: 0.5vh 2vw;
}

.search-form button, .search-form input {
    margin: 0 1vw;
    border: none;

}

.search-button:hover {
    padding: 0.7vh 2.2vw ;
}

/* NEW SECTION*/

.new-section {
    margin-top: 5vh;
}

.new-title{
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 6vh;
    color: rgba(136, 135, 135, 0.733);
}

.new-slider{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0 10vw;
    margin-bottom: 10vh;
    padding-bottom: 1vh;
}

.new-slider::-webkit-scrollbar{
    height: 6px;
    background-color: #F5F5F5;
}

.new-slider::-webkit-scrollbar-track {
    background-color: white;
}

.new-slider::-webkit-scrollbar-thumb {
    background-color: #54606b;
    border-radius: 3px;
}

.new-slider img {    
    width: 40vw;
    margin: 0 3vw;
}

/* CATEGORIES SECTION */

.category {
    width: 55vw;
}

#category-section {
    display: grid;
    grid-template-areas: 
    'a'
    'b'
    'c'
    'd';
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);    
    grid-gap: 2vw;
    margin: 5vh 22vw;
}

.first-cat {
    grid-area: a;
}

.second-cat {
    grid-area : b;
}

.third-cat {
    grid-area: c;
}

.fourth-cat {
    grid-area: d;
}

.cat-caption {
    position: relative;
    top: -17vw;
    margin: 1vw;
    color: white;
}

/* FOOTER */

.footer {
    background-color: black;
    margin-top: 20vh;
    padding: 3vh 0;
}

.footer hr {
    background-color: grey;
    margin: 0 4vw;
}
.copyright {
    text-align: center;
    color: white;
    font-size: small;
    margin-top: 4vh;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 2vh 0;
}

.footer h6, .footer i{ 
    color: blue;
}

.contact a {
    font-size: smaller;
    text-decoration: none;
    color: grey;

}

.contact a :hover {
    text-decoration: underline;
    color: blue;
}

#contact_motive {
    margin: 0;
    font-weight: bold;
}

/* LOGIN && REGISTRATION */

/* FORM */

.log-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 8vw;
    border-radius: 5vw;
    padding: 5vw;
    box-shadow: 0px 1px 8px 5px lightgrey;
}

.log-mail, .log-pwd, .log-name {
    margin: 2vh 0;
    width: 55vw;
    height: 5vh;
}

.log-form h1 {
    font-weight: normal;
    color: blue;
    margin: 4vh 0;
    text-decoration: underline;
}

.log-btn {
    border-radius: 5vw;
    color: white;
    background-color: rgb(45, 45, 250);
    padding: 2vw;
    border: none;
    margin: 2vh 0;
}

.log-link {
    margin: 2vh 0;
    font-size: smaller;
}

.log-form label {
    font-size: smaller;
}

/* PRODUCTS */
/* CAR PAGE */

.product {
    margin: 8vh 8vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.pdt-select {
    width: 60vw;
    margin: 2vh 2vw;
}


.pdt-select img {
    width: 100%;
    height: 22.5vh;
    border-radius: 0;

}

.pdt-desc {
    display: none;
    position: relative;
    margin-top: -40vw;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    width: 60vw;
    height: 22.5vh;
}


/* ACCESSORIES */

.access-card {
    width: 28vw;
    color: white;
    margin: 1vw;
}

.access-card:hover{
    width: 29vw;
}
.access-img {
    border-radius: 0 ;
    width: 100%;
    height: 18vh;
}

.access-body h5 {
    color: grey;
}
.access-body, .access-body h5{
    font-size: smaller;
}

.pdt-title {
    text-align: end;
    margin: 5vh 5vw;
}

.pdt-hr {
    box-shadow: 2px 2px 3px lightslategray;
    width: 80vw;
    margin: 0 10vw;
}

.link-access {
    text-decoration: none;
}

.cat-list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: space-between;
    margin: 2vh 5vw;

}

.cat-list li {
    padding: 0 2vw;
}

/* .cat-list::-webkit-scrollbar{
    height: 6px;
    background-color: #F5F5F5;
}

.cat-list::-webkit-scrollbar-track {
    background-color: white;
}

.cat-list::-webkit-scrollbar-thumb {
    background-color: #54606b;
    border-radius: 3px;
}
 */

/* CONTACT */

/* Form */

#contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 8vw;
    border: solid 1px white;
    border-radius: 2vw;
    padding: 5vw;
}

#contact input {
    width: 50vw;
    margin: 3vh 0;
}

#contact button {
    background-color: blue;
    color: white;
    border-radius: 5vw;
    border: none;
}

#contact input, #contact select, #contact textarea {
    width: 50vw;
}

/* SUCCESS */ 

#success {
    margin: 10vh 10vw;
    box-shadow: 1px 2px 8px lightslategray;
    padding: 5vw;
}

.return-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/* DETAILS CAR */
#choosen-car {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-pdt img{
    width: 100%;
}

.desc-pdt {
    margin: 2vh 5vw;
}

#details-desc {
    display: none;
    border: solid 1px grey;
    margin: 2vh 0;
    padding: 2vw;
}

#details-btn, #contact-car {
    background-color: mediumblue;
    color: white;
    border-radius: 2vw;
    border: none;
    width: 20vw;
    box-shadow: 1px 1px 3px lightslategray;
}

#contact-car {
    text-decoration-line: none;
    padding: 0 1vw;
}

#details-btn:hover, #contact-car:hover {
    width: 22vw;
}



/* RESPONSIVE */


@media only screen and (min-width: 768px) {
    /* NAVBAR */
    #info-log {
        width: 25vw;
        margin-right: 10vw;
        top: 48px;
    }

    #menu {
        width: 25vw;
    }

    /* CONNEXION */

    /* LOGIN FORM */

    .log-form {
        margin: 10vh 25vw;
    }
    

    .log-mail, .log-pwd, .log-name {
        width: 30vw;
    }
    
    .log-btn {
        width: 22vw;
        margin: 4vh 0;
        padding: 1vh 0;
    }

    /* CARS PAGE */

    .product {
        justify-content: flex-start;
    }

    .pdt-select, .pdt-desc, #cars img {
        height: 20vh;
    }

    .pdt-select {
        width: 38vw;
    }

    .pdt-desc {
        margin-top: -27vw;
        width: 38vw;
    }
    
    /* ACCESSORIES */

    .access-card {
        width: 24vw;
        margin: 2vw;
    }
    
    .access-img {
        height: 18vh;
    }

    /* CONTACT */

/* Form */

#contact form{
    margin: 10vh 12vw;
}

}






@media only screen and (min-width: 1024px){
    /* NAVBAR */

    #navbar {
        height: 8vh;
    }

    #logomenu, #usercart {
        margin: 1vw 3vw;
    }
    #info-log {
        width: 19vw;
        top: 57px;
    }

    /* CARS PAGE */

    .pdt-select {
        width: 24vw;
    }

    .pdt-select, .pdt-desc, #cars img {
        height: 18vh;
    }

    .pdt-desc {
        margin-top: -18vw;
        width: 24vw;
    }

    /* ACCESSORIES */

    .access-card {
        width: 17vw;
    }

    /* CONTACT */

    /* Form */

    #contact form{
        margin: 20vh 18vw;
    }


    #contact input, #contact select, #contact textarea {
        width: 45vw;
    }

    
}

@media only screen and (min-width: 1400px) {

    /* CARS PAGE */

    #cars {
        margin: 20vh 8vw;
    }

    .pdt-select {
        width: 22vw;
    }

    .pdt-select, .pdt-desc, #cars img {
        height: 20vh;
        width: 17vw;
    }

    .pdt-desc {
        margin-top: -14vw;
    }

    /* ACCESSORIES */

    .access-card {
        width: 12vw;
    }


}