<section id="navbar">
    <div id="logo">
        <a href="{{path('home')}}">
            <img src="" alt="">
        </a>
    </div>
    <div id="menu-burger">
        <i class="fas fa-bars"></i>
    </div>
    <div id="user-icon">
        <i class="fas fa-user"></i>
    </div>
    <div id="cart-icon">
        <i class="fas fa-shopping-cart"></i>
    </div>
</section>
<section id="menu">
    <ul id="list-nav">
        <li id="menu-car"><a href="">Voitures</a></li>
        <li id="menu-access">
            <a href="">Accessoires</a>
            <ul id="access-menu">
                <li><a href="">Categories</a></li>
                <li><hr></li>
                <li><a href="">Voir tout</a></li>
            </ul>
        </li>
        <li id="menu-product">
            <a href="">Produits d'entretien</a>
            <ul id="product-menu">
                <li><a href="">Categories</a></li>
                <li><hr></li>
                <li><a href="">Voir tout</a></li>
            </ul>
        </li>
        <li id="menu-service">
            <a href="">Services</a>
            <ul id="service-menu">
                <li>Nos prestations</li>
                <li>Prise de rendez-vous</li>
                <li><hr></li>
                <li>Mes rendez-vous</li>
            </ul>
        </li>
    </ul>
</section>



<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.accessory.name }}</td>
                <td>{{ item.accessory.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.accessory.price * item.quantity }}</td>
                <td>
                    <a href="{{path('cart_remove', {'id': item.accessory.id})}}" class="btn btn-sm"> <i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        <tfoot> 
            <tr>
                <td colspan="3" class="text-right"></td>
                <td> {{total}}</td>
                <td></td>
            </tr>
        </tfoot>
    </tbody>
</table>